/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  font-weight: 400;
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --container-width: calc(var(--content-width) + var(--content-padding-x) * 2);
  --container-height: 914px;
  --content-width: 1110px;
  --content-padding-y: 100px;
  --content-padding-x: 165px;
  --gap: 30px;
  --column-width: calc((var(--content-width) - var(--gap)) / 2);
  --card-width: calc((var(--content-width) - 2 * var(--gap)) / 3);
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

section {
  position: relative;
  width: var(--content-width);
  padding: var(--content-padding-y) var(--content-padding-x);
}

h1,h2,h3 {
  position: relative;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-size: 72px;
}

h2 {
  margin: 0;
  font-size: 60px;
}

h3 {
  margin: 0;
  font-size: 34px;
}



.back-img::before {
  position: absolute;

  height: var(--container-height);
  width: var(--container-width);

  background-color: var(--white-50);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-title {
  position: relative;
  height: 525px;
}

.header-title img {
  position: absolute;
  top: -65px;
  left: 25%;
  z-index: -1;
}

.columns {
  margin-top: -60px;
  gap: var(--gap);
  line-height: 1.6;
}

.col {
  width: var(--column-width);
  margin-top: -17px;
}

.btn {
  display: block;

  width: max-content;
  margin-top: 35px;
  padding: 12px 24px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);

  background-color: var(--primary);
}

.preview-image p {
  margin: 30px 0;
}

.preview {
  position: relative;
  height: 485px;
}

.preview-video {
  position: absolute;
  left: calc((var(--content-width) - 919px) / 2);
  height: 569px;
  width: 919px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.preview-image::before {
  position: absolute;
  left: 0;
  top: 814px;
  height: 100px;
  width: var(--container-width);
  background-color: var(--primary-dark);
  z-index: -1;

  content: "";
}

.navigation {
  padding-top: -100px;
}

.back-dark::before {
  position: absolute;
  inset: 0;

  height: var(--container-height);
  width: var(--container-width);

  background-color: var(--primary-dark);
  z-index: -1;

  content: "";
}

.card-line {
  gap: var(--gap);
}

.card-main h2 {
  width: var(--card-width);
  font-size: 52px;
}

.card {
  display: block;
  padding: 24px;
  width: var(--card-width);

  font-weight: 400;
  text-decoration: none;
  color: var(--primary-dark);

  background-color: var(--light);
}

.card-digit {
  margin-bottom: 40px;
  font: 64px/1 Neucha, sans-serif;
}

.card-title {
  color: var(--primary);
}

.card-content p {
  margin-bottom: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.orange {
  color: var(--primary);
}

.white {
  color: var(--white);
}
